@media screen and (min-width: 600px) {

    body{
        background-color: #eee;
        max-width: 1100px;
        padding: 10px;
        margin: 10px auto;
        border-radius: 10px;
        border: 5px solid cadetblue;
    }

    html{
        background-image: url("../images/site/checkerboard.jpg");
        background-repeat: repeat;
    }

    .section-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .upgrades{
        grid-column: 1/2;
        grid-row: 1;
    }

    .reviews{
        grid-column: 2/3;
    }

        /********* Classification Page Large Screens ************/
    #inv-display {
        grid-template-columns: repeat(2, 1fr);
    }

    /********* Vehicle Detail Large Screens ************/
    .vehicle-detail {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: start;
    }

        .login-form {
        max-width: 450px;
    }

        .register-form {
        max-width: 500px;
    }

        .management-links {
        max-width: 500px;
    }
}