<% if (title) { %>
  <h1><%= title %></h1>
<% } else { 
  res.redirect("/") 
} %>

<%- messages() %>

<div class="management-container">
  <p class="management-intro">Use the links below to manage inventory.</p>

  <ul class="management-links">
    <li>
      <a href="/inv/add-classification" title="Add a new classification">
        Add New Classification
      </a>
    </li>
    <li>
      <a href="/inv/add-inventory" title="Add a new inventory item">
        Add New Inventory
      </a>
    </li>
  </ul>
</div>